@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  --main-font: Commissioner;
  --main-font-weight:  500;
  --color-background-first: #1D201F;
  --color-content-red: #C58882;
  --color-content-yellow: #EAD2AC;
  --color-content-blue: #D1DEDE;
  --color-content-pink: #DF928E;
  --color-background-second: #404040;
}

* {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--color-background-second);
  width: 100%;
  height: 5rem;
  box-shadow: 0px 5px 10px 2px black;
  margin-top: -3px;
}

#navbar > ul {
  display: flex;
  list-style-type: none;
  font-size: 2.1rem;
  min-height: 100%;
}

#navbar > ul > li {
  padding: 1vw;
  min-height: 100%;
  display: flex;
  align-items: center;
  transition: ease-out 0.3s;
}

#navbar > ul > li > a { 
  text-decoration: none;
  color: var(--color-content-red);
  max-height: 100%;
}

li:hover {
  background-color: rgba(0,0,0, 0.5);
}

#welcome-section {
  display: flex;
  align-items: center;
  background-color: var(--color-background-first);
  min-height: 100vh;
  gap: 3vw;
}

#welcome-section > div {
  max-width: 65vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

#welcome-section > div > h1 {
  color: var(--color-content-yellow);
  letter-spacing: 0.2em;
  font-size: 4rem;
  margin-top: 7rem;
}

#first-line {
  color: var(--color-content-blue);
  text-align: center;
  letter-spacing: 0.2em;
  margin: 2em auto 0 auto;
  font-size: 3rem;
}

#second-line {
  color: var(--color-content-pink);
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2rem;
  font-style: italic;
}

#project-link {
  font-size: 15pt;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #404040;
  color: white;
  transition: ease-in-out 0.2s;
  text-align: center;
  text-decoration: none;
}

#project-link:hover {
  cursor: pointer;
  background-color: var(--color-content-red);
}

#project-link > i {
  transition: ease-in-out 0.2s;
}

#project-link:hover > i {
  transform: translateX(5px);
}

#welcome-section > i {
  font-size: 1500%;
  color: var(--color-background-first);
}

#emoji {
  margin: 0 auto;
  transition: ease-in 0.5s;
}

#project-link:hover + #emoji {
  color: var(--color-content-blue);
}

#projects {
  min-height: 100%;
  width: 100%;
  background-color: var(--color-content-red);
  display: flex;
  justify-content: center;
}

#project-tiles-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(2px, 500px));
  grid-gap: 4rem;
  max-width: 80%;
  max-width: 1280px;
  margin: 0 2rem 6rem 2rem;
  justify-content: center;
  padding-top: 3rem;
  object-fit: cover;
}

tile-image {
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}

.tile-desc {
  padding: 2rem;
  text-align: center;
  background-color: var(--color-background-first);
}

.project-tile {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-content-yellow);
  font-size: 1.2em;
  box-shadow: 0px 0px 30px 1px black;
}

.code {
  font-size: 100%;
  color: var(--color-background-first);
  transition: ease-out 0.5s;
}

.align-right {
  transform: translateX(20px);
}

.align-left {
  transform: translateX(-20px);
}

.project-tile:hover .align-left {
  transform: translateX(0px);
  color: var(--color-content-blue);
}
.project-tile:hover .align-right {
  transform: translateX(0px);
  color: var(--color-content-blue);
}

#contact-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-content-yellow);
  color: var(--color-background-second);
  text-shadow: 2px 1px 0px var(--color-content-pink);
  gap: 1vh;
}

#contact-section-container > div {
  display: flex;
  gap: 4rem;
  font-size: 1.8rem;
  max-width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#contact-section-container > div > div > a {
  text-decoration: none;
  color: var(--color-background-second);
}

#contact-section-container > div > h1 {
  font-size: 4rem;
  text-align: center;
}

#contact-section-container > div > div {
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: 2rem;
}

#contact-section-container > div > div > a {
  transition: ease-out 0.2s;
}

#contact-section-container > div > div > a:hover {
  transform: translateY(8px);
}

@media only screen and (max-width: 1000px) {
  #welcome-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 3rem;
  }
  
  html {
    font-size: 75%;
  }
  
  #welcome-section > div > h1 {
    margin-top: 12rem;
  }
  
  #project-tiles-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(2px, 500px));
    grid-gap: 4rem;
    
    max-width: 1280px;
    margin: 0 2rem 6rem 2rem;
    justify-content: center;
    padding-top: 3rem;
  }
  
  #projects {
    font-size: 150%;
  }
  
  #contact-section-container > div {
    font-size: 200%;
  }
}

@media only screen and (max-width: 800px) {
  #project-tiles-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 350px));
    grid-gap: 4rem;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
  }
  
  #projects {
    font-size: 150%;
  }
}

@media only screen and (max-width: 330px) {
  html {
    font-size: 50%;
  }
  
  #projects {
    font-size: 200%;
  }
}